.crt{
    animation:flicker .15s infinite;
}
.scanlines::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    background:
    repeating-linear-gradient(
        transparent,
        transparent 3px,
        rgba(255,255,255,.05) 4px
    );
}
@keyframes flicker{
    0%{opacity:.99;}
    50%{opacity:.95;}
    100%{opacity:1;}
}